.TopBar {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
}
.box {
  margin: 3px;
  border: 3px solid black;
  width: 23%;
  align-self: center;
  text-align: center;
}

.profile_image > img{
  height: 100px;
  width: 100px;
}
